%body
  .Chat-main
    .Chat-main__group--info
      .heder-text
        .heder-text__first
          = @group.name
        .heder-text__second
          Member:
          - @group.users.each do |user|
            = user.name
      .heder-edit
        .heder-edit__edit
          = link_to edit_group_path (@group) do
            = "Edit" 
    .list-message
      .MessageField
        = render @messages

    .message-form
      = form_with model: [@group, @message], html: {class: "Form"}, local: true do |f|
      
        .form-content
          .form-content__message
            = f.text_field :content, class: 'Form__inputContent', placeholder: 'type a message'
          .form-content__message--icon
            %label{class: "input-box__image"}
              = icon('far', 'image Form__icon')
              = f.file_field :image
        .form-send
          %input.Form__submitBtn{"name": "commit", "type": "submit", "value": "Send"}
